<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConexaoLocal" connectionString="Data Source=FERNANDO-3KOQSL\SQLSERVER14; Initial Catalog=Rakuten_Teste; User id=sa; pwd=fernando; min Pool Size=3; Max Pool Size=100; Connect Timeout=5;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>